.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#5A4836;background-color:Transparent;letter-spacing:0em;}
.Heading_1 {font-family:'Open Sans';font-weight:300;font-style:normal;font-size:28px;text-decoration:none;color:#3F3F3F;background-color:Transparent;letter-spacing:0em;}
.No_Spacing {font-family:'Calibri';font-weight:normal;font-style:normal;font-size:14.67px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Strong {font-family:'Open Sans';font-weight:300;font-style:normal;text-decoration:none;letter-spacing:0em;}
.NewStyle1 {font-size:53.41px;}
